<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
        <link rel="shortcut icon" href="../../img/favicon.ico">
        <title>Razor - Plan Geek</title>
        <link href="../../css/bootstrap.min.css" rel="stylesheet">
        <link href="../../css/fontawesome.min.css" rel="stylesheet">
        <link href="../../css/brands.min.css" rel="stylesheet">
        <link href="../../css/solid.min.css" rel="stylesheet">
        <link href="../../css/v4-font-face.min.css" rel="stylesheet">
        <link href="../../css/base.css" rel="stylesheet">
        <link id="hljs-light" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css" disabled>
        <link id="hljs-dark" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github-dark.min.css" disabled>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script> 
    </head>

    <body>
        <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="../..">Plan Geek</a>
                <!-- Expander button -->
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Expanded navigation -->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                        <!-- Main navigation -->
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a href="../.." class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="../../python/" class="nav-link">Python</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"  aria-expanded="false">JavaScript</a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../js/alpinejs/" class="dropdown-item">AlpineJS</a>
</li>
                                    
<li>
    <a href="../../js/vue3/" class="dropdown-item">Vue3 Composition Api</a>
</li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle active" aria-current="page" role="button" data-bs-toggle="dropdown"  aria-expanded="false">.NET Core</a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="./" class="dropdown-item active" aria-current="page">Razor</a>
</li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"  aria-expanded="false">Git</a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../git/auth/" class="dropdown-item">Authentification Git</a>
</li>
                                    
<li>
    <a href="../../git/git/" class="dropdown-item">CheatSheet</a>
</li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="../../docker/" class="nav-link">Docker</a>
                            </li>
                        </ul>

                    <ul class="nav navbar-nav ms-md-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#mkdocs_search_modal">
                                <i class="fa fa-search"></i> Search
                            </a>
                        </li>
                            <li class="nav-item">
                                <a rel="prev" href="../../js/vue3/" class="nav-link">
                                    <i class="fa fa-arrow-left"></i> Previous
                                </a>
                            </li>
                            <li class="nav-item">
                                <a rel="next" href="../../git/auth/" class="nav-link">
                                    Next <i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
        <script src="../../js/darkmode.js"></script>

        <div class="container">
            <div class="row">
                    <div class="col-md-3"><div class="navbar-expand-md bs-sidebar hidden-print affix" role="complementary">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#toc-collapse" title="Table of Contents">
            <span class="fa fa-angle-down"></span>
        </button>
    </div>

    
    <div id="toc-collapse" class="navbar-collapse collapse card bg-body-tertiary">
        <ul class="nav flex-column">
            
            <li class="nav-item" data-bs-level="1"><a href="#cheat-sheet-razor-net-core" class="nav-link">Cheat Sheet Razor .NET Core</a>
              <ul class="nav flex-column">
            <li class="nav-item" data-bs-level="2"><a href="#introduction" class="nav-link">Introduction</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#syntaxe-de-base" class="nav-link">Syntaxe de Base</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#boucles-et-conditions" class="nav-link">Boucles et Conditions</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#liens-et-actions" class="nav-link">Liens et Actions</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#affichage-conditionnel-et-boucles" class="nav-link">Affichage Conditionnel et Boucles</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#helpers-html" class="nav-link">Helpers HTML</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#validation-et-messages-derreur" class="nav-link">Validation et Messages d'Erreur</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#partials-et-layouts" class="nav-link">Partials et Layouts</a>
              <ul class="nav flex-column">
              </ul>
            </li>
              </ul>
            </li>
        </ul>
    </div>
</div></div>
                    <div class="col-md-9" role="main">

<h1 id="cheat-sheet-razor-net-core">Cheat Sheet Razor .NET Core</h1>
<h2 id="introduction">Introduction</h2>
<p>Razor est un moteur de template de syntaxe qui permet de combiner du code C# avec du HTML de manière propre et lisible. Il est largement utilisé dans les applications ASP.NET Core pour la création de vues dynamiques.</p>
<h2 id="syntaxe-de-base">Syntaxe de Base</h2>
<h3 id="code-c-dans-razor">Code C# dans Razor</h3>
<pre><code class="language-html">@{ var message = &quot;Bonjour, Monde!&quot;; }
&lt;p&gt;@message&lt;/p&gt;
</code></pre>
<h3 id="expressions-c-inline">Expressions C# Inline</h3>
<pre><code class="language-html">&lt;p&gt;Le résultat est: @(&quot;Hello, &quot; + &quot;World!&quot;)&lt;/p&gt;
</code></pre>
<h3 id="commentaires-razor">Commentaires Razor</h3>
<pre><code class="language-html">@* Ceci est un commentaire Razor *@
</code></pre>
<h3 id="directives-importantes">Directives Importantes</h3>
<pre><code class="language-html">@using MonProjet.Models // Importer un espace de nom @model
MonProjet.Models.MonModele // Spécifier le modèle de vue @inject MonService
myService // Injection de service @inherits MaClasseDeBase // Inhérer d'une
classe de base @functions { // Ajouter des fonctions C# custom }
</code></pre>
<h2 id="boucles-et-conditions">Boucles et Conditions</h2>
<h3 id="conditionnelle-if">Conditionnelle <code>if</code></h3>
<pre><code class="language-html">@if (Model.IsLoggedIn) {
&lt;p&gt;Bienvenue, @Model.UserName!&lt;/p&gt;
} else {
&lt;p&gt;Veuillez vous connecter.&lt;/p&gt;
}
</code></pre>
<h3 id="boucle-for">Boucle <code>for</code></h3>
<pre><code class="language-html">@for (int i = 0; i &lt; 10; i++) {
&lt;p&gt;Numéro: @i&lt;/p&gt;
}
</code></pre>
<h3 id="boucle-foreach">Boucle <code>foreach</code></h3>
<pre><code class="language-html">@foreach (var item in Model.Items) {
&lt;p&gt;@item.Name&lt;/p&gt;
}
</code></pre>
<h2 id="liens-et-actions">Liens et Actions</h2>
<h3 id="generer-un-lien-daction">Générer un lien d'action</h3>
<pre><code class="language-html">&lt;a asp-controller=&quot;Home&quot; asp-action=&quot;Index&quot;&gt;Accueil&lt;/a&gt;
</code></pre>
<h3 id="lien-avec-parametres">Lien avec paramètres</h3>
<pre><code class="language-html">&lt;a asp-controller=&quot;Produit&quot; asp-action=&quot;Détails&quot; asp-route-id=&quot;@item.Id&quot;
  &gt;Voir Détails&lt;/a
&gt;
</code></pre>
<h2 id="affichage-conditionnel-et-boucles">Affichage Conditionnel et Boucles</h2>
<h3 id="boucle-while">Boucle <code>while</code></h3>
<pre><code class="language-html">@{ int i = 0; while (i &lt; 5) {
&lt;p&gt;Compteur: @i&lt;/p&gt;
i++; } }
</code></pre>
<h3 id="condition-switch">Condition <code>switch</code></h3>
<pre><code class="language-html">@switch (Model.TypeUtilisateur) { case &quot;Admin&quot;:
&lt;p&gt;Vous avez les privilèges d'administrateur.&lt;/p&gt;
break; case &quot;Utilisateur&quot;:
&lt;p&gt;Bienvenue, utilisateur.&lt;/p&gt;
break; default:
&lt;p&gt;Type utilisateur inconnu.&lt;/p&gt;
break; }
</code></pre>
<h2 id="helpers-html">Helpers HTML</h2>
<h3 id="label-et-input">Label et Input</h3>
<pre><code class="language-html">@Html.LabelFor(model =&gt; model.Nom) @Html.TextBoxFor(model =&gt; model.Nom)
</code></pre>
<h3 id="checkbox-et-radio-button">Checkbox et Radio Button</h3>
<pre><code class="language-html">@Html.CheckBoxFor(model =&gt; model.EstActif) @Html.RadioButtonFor(model =&gt;
model.Genre, &quot;Homme&quot;) @Html.RadioButtonFor(model =&gt; model.Genre, &quot;Femme&quot;)
</code></pre>
<h3 id="dropdownlist">DropdownList</h3>
<pre><code class="language-html">@Html.DropDownListFor(model =&gt; model.CatégorieId, new
SelectList(Model.Catégories, &quot;Id&quot;, &quot;Nom&quot;))
</code></pre>
<h2 id="validation-et-messages-derreur">Validation et Messages d'Erreur</h2>
<h3 id="afficher-les-erreurs-de-validation">Afficher les erreurs de validation</h3>
<pre><code class="language-html">@Html.ValidationSummary(true) @Html.ValidationMessageFor(model =&gt; model.Nom)
</code></pre>
<h2 id="partials-et-layouts">Partials et Layouts</h2>
<h3 id="utiliser-un-layout">Utiliser un Layout</h3>
<pre><code class="language-html">@{ Layout = &quot;_Layout.cshtml&quot;; }
</code></pre>
<h3 id="rendu-dune-vue-partielle">Rendu d'une vue partielle</h3>
<pre><code class="language-html">@Html.Partial(&quot;_PartialView&quot;, Model.PartieDeLaVue)
</code></pre>
<h3 id="sections-et-rendu">Sections et Rendu</h3>
<pre><code class="language-html">@section Scripts {
&lt;script src=&quot;monScript.js&quot;&gt;&lt;/script&gt;
}
</code></pre>
<h3 id="inclusion-de-fichiers-js-et-css">Inclusion de fichiers JS et CSS</h3>
<pre><code class="language-html">@section Styles {
&lt;link rel=&quot;stylesheet&quot; href=&quot;~/css/site.css&quot; /&gt;
}
</code></pre></div>
            </div>
        </div>

        <footer class="col-md-12">
            <hr>
            <p>Documentation built with <a href="https://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>
        <script src="../../js/bootstrap.bundle.min.js"></script>
        <script>
            var base_url = "../..",
                shortcuts = {"help": 191, "next": 78, "previous": 80, "search": 83};
        </script>
        <script src="../../js/base.js"></script>
        <script src="../../search/main.js"></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="searchModalLabel">Search</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>From here you can search these documents. Enter your search terms below.</p>
                <form>
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search..." id="mkdocs-search-query" title="Type search term here">
                    </div>
                </form>
                <div id="mkdocs-search-results" data-no-results-text="No results found"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div><div class="modal" id="mkdocs_keyboard_modal" tabindex="-1" role="dialog" aria-labelledby="keyboardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="keyboardModalLabel">Keyboard Shortcuts</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%;">Keys</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="help shortcut"><kbd>?</kbd></td>
                    <td>Open this help</td>
                  </tr>
                  <tr>
                    <td class="next shortcut"><kbd>n</kbd></td>
                    <td>Next page</td>
                  </tr>
                  <tr>
                    <td class="prev shortcut"><kbd>p</kbd></td>
                    <td>Previous page</td>
                  </tr>
                  <tr>
                    <td class="search shortcut"><kbd>s</kbd></td>
                    <td>Search</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    </body>
</html>
